$backgroundColor: #FFFFFF; // White background in HEX
$bodyColor: #000000; // Dark red color in HEX
// $bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; // Font stack
$bodyFont: "Merriweather", Georgia, serif; // Elegant serif font for academic websites
$linkColor: #012169; // Duke navy color in HEX

body {
  background: $backgroundColor; // White background
  color: $bodyColor; // Dark red text color
  font-family: $bodyFont; // Font stack
}

body a {
  color: $linkColor; // Duke navy color in HEX
}


