$backgroundColor: #ffffff; // White background in HEX
$bodyColor: #000000; // Dark red color in HEX
// $bodyFont: "PT Serif", serif; // Set body font to PT Serif
// $headerFont: "PT Sans Narrow", sans-serif; // Set header font to PT Sans Narrow
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; // Font stack
$linkColor: #012169; // Duke navy color in HEX

body {
  background: $backgroundColor; // White background
  color: $bodyColor; // Dark red text color
  font-family: $bodyFont; // Font stack
}

body a {
  color: $linkColor; // Duke navy color in HEX
}


