---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h2 class="fs-1 fw-bold border-bottom pb-3 mb-5">{{ page.title }}</h2>
    <div class="text-end fst-italic mb-5">
        <div class="text-end mb-5">
            <p class="fst-italic mb-0">"Eu quase que nada não sei. Mas desconfio de muita coisa."</p>
            <p class="mb-0" style="font-style: normal;">– Guimarães Rosa in "Grande Sertão: Veredas"</p>
        </div>
    </div>
      
    {{ content }}
  </div>
</div>